.the-importance-of-sleep {
    position: fixed;
    top: 17%;
    left: 3%;
    width: 50%;
    font-size: 2.5vh;
    color: #c2c9f9;
}


.hints-list {
    position: fixed;
    font-size: 1.1vw;
    width: 35%;
    max-height: 81%;;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    padding: 2%;
    background-color: #c2c9f964;
    border-radius: 40px;
    text-align: center;
}

.item {
    margin-bottom: 5%;
}

.SQI-details {
    position: fixed;
    left: 2%;
    top: 66%;
    transform: translateY(-34%);
    width: 44%;
    border-style: hidden;
    border-radius: 40px;
    padding: 3%;
    background-color: #c2c9f964;
}

.SQI-details li {
    font-size: 1.3vw;
    margin-bottom: 2%;
}

